body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HEADER ////////////////////////////////////////*/
header {
  font-family: "Lato", sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(./Images/bodybackground.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./Images/bodybackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 250px;
  margin: 0 auto;
}

header .navbar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  color: #f0ffff;
  font-size: 20px;
}

header .navbar ul li {
  text-decoration: none;
  height: 30px;
  margin-right: 40px;
  font-weight: 300;
  position: relative;
  cursor: pointer;
}

header .navbar ul li::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #e67e22;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header .navbar ul li:hover:before {
  opacity: 1;
}

header .navbar ul li a:hover {
  -webkit-text-decoration-color: #e67e22;
          text-decoration-color: #e67e22;
  padding-bottom: 20px;
}

header .navbar h1 img {
  width: 30%;
}

header .titre {
  color: #f0ffff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 30px;
  margin-left: 180px;
}

header .titre h2 {
  word-spacing: 4px;
  font-weight: 300;
  margin: auto;
  margin-bottom: 20px;
}

header .titre a {
  font-weight: 300;
  text-decoration: none;
  border-style: solid;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 20px;
  border-width: 1px;
}

header .titre .boutton1 {
  color: #f0ffff;
  background-color: #e67e22;
  border-color: #e67e22;
  margin-right: 15px;
}

header .titre .boutton2 {
  background-color: transparent;
  color: #e67e22;
}

header .titre .boutton1:hover {
  background-color: #c76d1eda;
}

header .titre .boutton2:hover {
  background-color: #e67e22;
  color: #f0ffff;
  border-color: #e67e22;
}

/* SECTION 1 ///////////////////////////////////////////*/
.section1 {
  color: #55555a;
  font-family: "Lato", sans-serif;
  height: 572px;
  padding: 75px 0;
}

.section1 .texteh3 {
  margin: auto 100px;
  height: 200px;
}

.section1 .texteh3 h3 {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 36px;
  position: relative;
  padding-bottom: 20px;
}

.section1 .texteh3 h3::before {
  content: "";
  position: absolute;
  top: 70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 10%;
  height: 3px;
  background-color: #e67e22;
}

.section1 .texteh3 p {
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 300;
  line-height: 145%;
}

.section1 .totalbloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto 130px;
  margin-top: 40px;
}

.section1 .totalbloc .sticon {
  font-size: 22px;
}

.section1 .totalbloc i {
  font-size: 400%;
  color: #e67e22;
}

.section1 .totalbloc div {
  width: 248px;
}

.section1 .totalbloc div p {
  line-height: 24px;
  font-weight: 300;
  font-size: 18px;
}

/* SECTION 2////////////////////////////////////////////////////*/
.section2 .blockphoto1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section2 .blockphoto1 .contain-img {
  width: calc(100% / 4);
  height: 100%;
  overflow: hidden;
  position: relative;
}

.section2 .blockphoto1 .contain-img img {
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.section2 .blockphoto1 .contain-img::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section2 .blockphoto1 .contain-img:hover::after {
  background-color: rgba(0, 0, 0, 0);
}

.section2 .blockphoto1 .contain-img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.section2 .blockphoto2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section2 .blockphoto2 .contain-img {
  width: calc(100% / 4);
  position: relative;
  overflow: hidden;
}

.section2 .blockphoto2 .contain-img img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section2 .blockphoto2 .contain-img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

.section2 .blockphoto2 .contain-img:hover::after {
  background-color: rgba(0, 0, 0, 0);
}

.section2 .blockphoto2 .contain-img:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*SECTION 3 /////////////////////////////////////////////*/
.section3 {
  padding: 80px 0px;
  background-color: #f4f4f4;
}

.section3 h3 {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #55555a;
  font-size: 36px;
  font-weight: 300;
  position: relative;
}

.section3 h3::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 10%;
  background-color: #e67e22;
  top: 70px;
  left: 45%;
}

.section3 .totalbloc3 {
  margin: 0px 101px;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section3 .totalbloc3 .imgtel {
  width: 50%;
  padding-right: 60px;
  padding-top: 30px;
}

.section3 .totalbloc3 .imgtel img {
  width: 35%;
  float: right;
}

.section3 .totalbloc3 .textesect3 {
  width: 50%;
  padding-left: 20px;
  padding-top: 50px;
}

.section3 .totalbloc3 .sousblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  width: 90%;
}

.section3 .totalbloc3 .sousblock .number {
  border: solid 2px #e67e22;
  width: 55px;
  height: 50px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #e67e22;
  border-radius: 50%;
  margin-right: 20px;
}

.section3 .totalbloc3 .sousblock p {
  font-family: "Lato", sans-serif;
  color: #55555a;
  font-weight: 300;
  font-size: 20px;
  width: 100%;
}

.section3 .totalbloc3 .sousblock.number3 {
  margin-bottom: 50px;
}

.section3 .totalbloc3 .imgapp {
  width: auto;
  height: 50px;
  margin-right: 10px;
}

/* SECTION 4/////////////////////////////////////////////////////*/
.section4 {
  padding: 80px 0;
}

.section4 h2 {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #55555a;
  font-size: 36px;
  font-weight: 300;
  position: relative;
  margin: 0 101px 80px 101px;
}

.section4 h2::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 10%;
  background-color: #e67e22;
  top: 70px;
  left: 45%;
}

.section4 .totalbloc4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 101px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section4 .totalbloc4 .photo {
  margin: 0 20px;
  width: calc(90% / 4);
}

.section4 .totalbloc4 .photo h3 {
  font-size: 22px;
  width: 100%;
  font-family: "Lato", sans-serif;
  color: #55555a;
  font-weight: 300;
  margin: auto;
  padding-bottom: 60px;
}

.section4 .totalbloc4 .photo .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.section4 .totalbloc4 .photo .description i {
  margin-right: 30px;
  color: #e67e22;
  font-size: 120%;
}

.section4 .totalbloc4 .photo .description p {
  margin: 0;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  color: #55555a;
  font-weight: 300;
  line-height: 1;
}

.section4 .totalbloc4 .photo .description a {
  color: #e67e22;
}

.section4 .totalbloc4 img {
  width: 100%;
}
/*# sourceMappingURL=omnifood.css.map */